.footer {
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Montserrat";
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 20px;
}

button {
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .footer p {
    display: none;
  }
}
